@model BlogApplication.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<main>
    <div class="container-fluid px-4">

        <hr style="margin-top:90px" />
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Categories</li>
            <li class="breadcrumb-item active">Index</li>
        </ol>
        <div class="row">

            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-plus me-1"></i>
                        Kategori Ekleme Paneli
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group mb-3">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="MasterCategoryId" class="control-label"></label>
                                <select asp-for="MasterCategoryId" class="form-control" asp-items="ViewBag.MasterCategoryId"></select>
                                <span asp-validation-for="MasterCategoryId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-outline-dark float-end" />
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <a asp-area="admin" asp-controller="categories" asp-action="index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</main>
